:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);  /* Shadow around the boxes */
    background: #ccc;
    font-size: 1.1rem;
    color:blue;
}
/*Wrapper*/
.wrapper {
    display: grid;
    grid-gap: 20px;
}

img{
    width: 100%;
    height: 55%;
}

/*Navigation*/
.menu{
    background: #30d5c8;
    padding: 1rem;
}
.menu ul {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.menu a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.menu a:hover {
    background: var(--dark);
    color: var(--light);
}

/*index.html*/
#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    height: 50%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    width: 20%;
    height: 100%;
    float: left;
}

@keyframes slider{
    0% {
        left: 0;
    }
    15% {
        left: 0;
    }
    20% {
        left: -100%;
    }
    35% {
        left: -100%;
    }
    40% {
        left: -200%
    }
    55% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    75% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    95%{
        left: -400%;
    }
    100%{
        left: -500%;
    }
}

.list{
    margin-top: 20px;
}
.list > div{
    display: flex;
    align-items: center;
}

/*workgen*/
/*div{
    padding: 0;
    margin: 0;
}*/

div#exlist.exlist{
    padding: 0;
    margin: 0;
    color: green;
}

.workgen-p {
    font-size: 1.2rem;
    margin-right: 25px;
}

.workgen-exlist-p{
    font-size: 1.4rem;
    margin-right: 35px;
}

.script-btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    margin: 3px;
}


.form {
    background: var(--light);
    color: var(--dark);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}


/*Footer*/
footer{
    background: #555;
    color: #EEE;
    text-align: center;
    margin: 2rem 0 0 0; 
    padding:1rem;
}